<div id="page-wrap">
    <br>
    <div class="topicTitle">Subscribe
        <hr>
    </div>
    <div class="topicTitle">2023</div>
    <div class="publication">
        <ul>
            <li><span class="one-col">How many times did you receive emails from Indian recruiters hiring for a
                    senior positions which are definetly not fit for you? Enough is enough. Although on the safe
                    side we could probably just delete all of our accounts from job boards except Indeed and
                    LinkedIn (i.e. say good bye to Dice and the rest), here's a suggestion: maybe we can put fake
                    email address and fake phone number on our resumes, and a <i>real URL to our personal
                        website</i>. We will make it clear that the ONLY WAY to access our Contact Info is to go to
                    our website and complete the authentication process. Anyone who wants our number and email
                    should just share theirs with us first. On top of that, we can implement <a
                        href="https://www.google.com/recaptcha/about/">reCAPTCHA</a> , too. Time to get rid of these
                    spam emails! </span><a class="two-col" href="http://google.com">like</a><a class="two-col"
                    href="http://google.com">reply</a></li>
            <li><br><span class="one-col">In the 1st week of Spring 2023 quarter, registration of courses opened and
                    students lined up and created a long queue outside the office of Academic Affairs and Vice-Dean
                    at the uppermost level of the building of Faculty of Computing and Information Technology.
                    Sarcastically, the Vice-Dean and his friend, Supervisor of Academic Affairs, whom are ascribed
                    to the Administration and "intellectuals" of Computer Science in the University, could only
                    utilize Google Form to solve this problem. They were not able to create any application nor
                    apply any algorithm. None of the knowledge of <a
                        href="https://www.techtarget.com/searchapparchitecture/definition/object-oriented-programming-OOP#:~:text=Object%2Doriented%20programming%20(OOP)%20is%20a%20computer%20programming%20model,has%20unique%20attributes%20and%20behavior."
                        target="new">Object-Oriented</a>, <a
                        href="https://www.techtarget.com/searchcloudcomputing/definition/cloud-computing" target="
                        new">Cloud Computing</a> nor <a
                        href="https://www.ibm.com/topics/automation#:~:text=Automation%20is%20a%20term%20for,as%20home%20automation%20and%20more."
                        target="new">automation</a> technology were applied. The only thing they were not hesitate
                    doing was to send most of the students to down-stairs so that they can get rid of these low
                    people or objects "managed" by them from their workplace. Henry, if only you can develop a
                    solution with computing technologies for this problem, you should be more competent than these
                    two "officials".</span><a class="two-col" href="http://google.com">like</a><a class="two-col"
                    href="http://google.com">reply</a></li>
            <li><br><span class="one-col">Instead of directly sharing resume, a more secure way to share essential
                    job applicant information is to require <a href="https://help.okta.com/okta_help.htm?id=ext_MFA"
                        target="new">Multi-Factor Authentication</a> for anyone who attempts to access the CV. They
                    should provide either their workplace email address or phone number and input an <a
                        href="https://www.okta.com/blog/2020/06/what-is-a-one-time-password-otp/" target="new">One
                        Time Passcode</a> to authenticate themselves. They should also declare the purpose of
                    viewing the CV. That way we will know who access our sensitive information, as well as when and
                    where. We can also send messages to follow-up after their views, or initiate a cyber-attack in
                    case those are the bad guys.</span><a class="two-col" href="http://google.com">like</a><a
                    class="two-col" href="http://google.com">reply</a></li>
            <li><br><span class="one-col">Certifications provide a framework for beginners to learn new stuff.
                    Prepartions for these exams are no different from On-the-job trainnings except that these exams
                    are self-initated by the job applicants, which could save time and cost for the potential
                    employers.</span><a class="two-col" href="http://google.com">like</a><a class="two-col"
                    href="http://google.com">reply</a></li>
        </ul>
    </div>
    <div class="topicTitle">2022</div>
    <div class="publication">
        <ul>
            <li><span class="one-col">Leadership at the Braintree branch of Target was fantastic. I remember in the
                    first week I gave a guest an Xbox (worth $499) after he claimed he did pay online. My manager
                    talked to me in her room and I was very scared moving forward that one day I will lose my job
                    very soon. Indeed everyone make mistakes yet my manager knew very well how to train and
                    accomodate me. I am in debt to her and other leaders' support. Within 4 months, I grew rapidly
                    more than I would grow when I was the only American foriegn student in Saudi Arabia for years. I
                    got invovled with the team and the workplace. I was always focused on my work and never touch my
                    phone except in breaks. It was the first time in my life I got recognized and praised by Leaders
                    in front of other colleagues. Later when other senior team members left, my manager appointed me
                    to be a Trainer to coach new comers in Electronics. It was indeed a very educational
                    experience.</span><a class="two-col" href="http://google.com">like</a><a class="two-col"
                    href="http://google.com">reply</a></li>
            <li><br><span class="one-col">Henry has some books which he doesn't need. He needs to create a web
                    application and share it in the WhatsApp group of the Dorm.</span><a class="two-col"
                    href="http://google.com">like</a><a class="two-col" href="http://google.com">reply</a></li>
            <li><br><span class="one-col">As we try to maintain <a
                        href="https://www.ojp.gov/ncjrs/virtual-library/abstracts/social-control-and-delinquent-behavior-examination-elements-social"
                        target="new">social bonds</a> with others via WhatsApp, it will be great if we can develop
                    an <a
                        href="https://www.techtarget.com/searchapparchitecture/tip/What-are-the-types-of-APIs-and-their-differences"
                        target="new">API</a> to organize all the messages a particular person sent. This API should
                    analyze the messages and answer specific questions. For example, telling "Why does this person
                    dislike me?", "What does this person like to eat?", "When does this person goes to sleep?", "How
                    long does it take for this person to reply to messages on average?", etc.</span><a
                    class="two-col" href="http://google.com">like</a><a class="two-col" href="http://google.com">reply</a></li>
        </ul>
    </div>
    <div class="topicTitle">2019</div>
    <div class="publication">
        <ul>
            <li><span class="one-col">Certain websites were always <a
                        href="https://protonvpn.com/blog/great-firewall-china/" target="new">blocked by CCP</a>.
                    Russia successfully initiate a military operations as the Cyber division was able to <a
                        href="https://www.nytimes.com/2008/08/13/technology/13cyber.html" target="new">disable the
                        civic and defense infrastructure</a> of the hostile country. Some websites I frequently
                    visited were always under maintenance. I want to declare my Major in <a
                        href="https://fcitweb.kau.edu.sa/fcitwebsite/bcprogramcsen.php" target="new">Computer
                        Science</a>!</span><a class="two-col" href="http://google.com">like</a><a class="two-col"
                    href="http://google.com">reply</a></li>
        </ul>
    </div>
    
    <br><br>
    </div>
