<div id="page-wrap">
    <p>
    </p>
    <div class="topicTitle">Passed Exams
        <hr>
    </div>
    <div class="course-title"><a href="https://learn.microsoft.com/en-us/certifications/exams/az-801/">1. | Exam
            AZ-801: Configuring Windows Server Hybrid Advanced Services</a> </div>
    <div class="courses">
        Candidates for this exam deploy, package, secure, update, and configure Windows Server workloads using
        on-premises, hybrid, and cloud technologies. This role implements and manages on-premises and hybrid
        solutions, such as identity, security, management, compute, networking, storage, monitoring, high
        availability, and disaster recovery. This role uses administrative tools and technologies such as Windows
        Admin Center, PowerShell, Azure Arc, Azure Policy, Azure Monitor, Azure Automation Update Management,
        Microsoft Defender for Identity, Microsoft Defender for Cloud, and IaaS VM administration.
    </div>
    <div class="course-title"><a href="https://learn.microsoft.com/en-us/certifications/exams/az-800/">2. | Exam
            AZ-800: Administering Windows Server Hybrid Core Infrastructure</a> </div>
    <div class="courses">
        Candidates for this exam are responsible for configuring and managing Windows Server on-premises, hybrid,
        and Infrastructure as a Service (IaaS) platform workloads. The Windows Server Hybrid Administrator is tasked
        with integrating Windows Server environments with Azure services and managing Windows Server in on-premises
        networks. This role manages and maintains Windows Server IaaS workloads in Azure as well as migrating and
        deploying workloads to Azure. This role typically collaborates with Azure Administrators, Enterprise
        Architects, Microsoft 365 administrators, and network engineers.
    </div>
    <div class="course-title"><a href="https://learn.microsoft.com/en-us/certifications/exams/ms-600/">3. | Exam
            MS-600: Building Applications and Solutions with Microsoft 365 Core Services</a> </div>
    <div class="courses">
        Candidates for this exam are proficient in designing collaboration solutions using the Microsoft identity
        platform, Microsoft Graph, SharePoint Framework, and Microsoft Power Platform to build custom apps that
        extend Microsoft Teams, SharePoint, and Viva Connections. Candidates should have a working knowledge of
        developing solutions with Microsoft Teams, Microsoft Power Platform, Dataverse for Teams, SharePoint
        Framework through all phases of software development, as well as messaging workloads and the Microsoft
        identity platform, including OAuth2, OData, OpenID Connect, and permission/consent concepts.
    </div>
    <div class="course-title"><a href="https://learn.microsoft.com/en-us/certifications/exams/az-305/">4. | Exam
            AZ-305: Designing Microsoft Azure Infrastructure Solutions</a> </div>
    <div class="courses">
        Candidates for this exam should have advanced experience and knowledge of IT operations, including
        networking, virtualization, identity, security, business continuity, disaster recovery, data platforms, and
        governance. A professional in this role should manage how decisions in each area affect an overall solution.
        In addition, they should have experience in Azure administration, Azure development, and DevOps processes.
    </div>
    <div class="course-title"><a
            href="https://training.linuxfoundation.org/certification/linux-foundation-certified-sysadmin-lfcs/">5. |
            Linux Foundation Certified System Administrator (LFCS)</a> </div>
    <div class="courses">
        This certification demonstrates the ability to work proficiently to design, install, configure, and manage a
        system installation. Candidates should have an understanding of key concepts such as networking, storage,
        security, maintenance, logging and monitoring, application lifecycle, troubleshooting, API object primitives
        and the ability to establish basic use-cases for end users.
    </div>
    <div class="course-title"><a href="https://aws.amazon.com/certification/certified-cloud-practitioner/">6. | Exam
            CLF-C01: AWS Certified Cloud Practitioner</a> </div>
    <div class="courses">
        The AWS Certified Cloud Practitioner offers a foundational understanding of AWS Cloud concepts, services,
        and terminology. This is a good starting point for individuals in non-technical roles with no prior IT or
        cloud experience or for those with on-premises IT experience looking for basic AWS Cloud fluency. This
        certification can give candidates the confidence to tackle role-based AWS Certifications.
    </div>
    <p></p>
    <div class="topicTitle">Credly Badges
        <hr>
    </div>
    <table id="research-table" style="width: 100%">
        <tbody>
            <tr>
                <td class="research-col">
                    <div class="research-one-col"><img
                            src="https://images.credly.com/size/110x110/images/00634f82-b07f-4bbd-a6bb-53de397fc3a6/image.png"
                            alt="richard_anarfi"></div>
                    <div class="research-two-col"><img
                            src="https://images.credly.com/size/110x110/images/9d7dc4c0-5681-41fc-b96b-26e9157786d7/image.png"
                            alt="wishnoo"></div>
                    <div class="research-three-col"><img
                            src="https://images.credly.com/size/110x110/images/863b781b-4c02-47e9-bb31-11a2a1e2fd79/image.png"
                            alt="benjamin_kwapong"></div>
                    <div class="research-three-col"><img
                            src="https://images.credly.com/size/110x110/images/cc3c9fd5-123a-439e-a297-e31f40b79aaa/image.png"
                            alt="benjamin_amankwata"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="text-margin">AWS Certified Cloud Practitioner<br><a
                            href="https://www.credly.com/badges/5c2882e3-71fc-41a1-90cf-8671e335c8a5">July 2021</a>
                        <br> </div>
                    <div class="text-margin">AZ-305: Designing Microsoft Azure Infrastructure Solutions<br><a
                            href="https://www.credly.com/badges/858ff45d-6af7-4469-858c-babed285dedf">Feb 2023</a>
                    </div>
                    <div class="text-margin">AZ-800: Administering Windows Server Hybrid Core Infrastructure<br><a
                            href="https://www.credly.com/badges/c6045fc2-ecd1-4044-8150-1cc75b05d67e">March 2023</a>
                    </div>
                    <div class="text-margin">AZ-801: Configuring Windows Server Hybrid Advanced Services<br><a
                            href="https://www.credly.com/badges/9db37ab4-e7f3-4c28-bb88-cfe57621d753">March 2023</a>
                        <br></div>
                </td>
            </tr>
            <tr>
                <td class="research-col">
                    <div class="research-one-col"><img
                            src="https://images.credly.com/size/110x110/images/9383e4b7-dbc0-4618-be67-3cd02fba948a/image.png"
                            alt="raveena_mewani"></div>
                    <div class="research-one-col"><img
                            src="https://images.credly.com/size/110x110/images/1e6611ca-8afe-4ecc-ad4d-305fba52ee7e/1_LFCS-600x600.png"
                            alt="vivek_patel"></div>
                    <div class="research-one-col"><img
                            src="https://images.credly.com/size/110x110/images/ef2853b2-4faf-4d27-8dec-5ddd71aa82bc/CERT-Associate-Microsoft365-Developer.png"
                            alt="vivek_patel"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="text-margin">Microsoft Certified: Windows Server Hybrid Administrator
                        Associate<br><a
                            href="https://www.credly.com/badges/14091a53-2b68-4b41-be7f-6489ca88aff2">March 2023</a>
                        <br></div>
                    <div class="text-margin">LFCS: Linux Foundation Certified Systems Administrator<br><a
                            href="https://www.credly.com/badges/b88352e6-c0e3-4e1c-ad51-09e7b4a526e5">July 2022</a>
                        <br></div>
                    <div class="text-margin">Microsoft Certified: Windows Server Hybrid Administrator
                        Associate<br><a
                            href="https://www.credly.com/badges/0c8f2e04-4d87-49c4-acf2-a553e623372f">Feb 2023</a>
                        <br></div>
                </td>
            </tr>
        </tbody>
    </table>
    <p></p>

    <!--			 <div class="topicTitle">Research Projects
          <hr>
        </div>
        <div class="paragraph">
        After receiving my bachelors degree in computer science in 2006, I worked as an intern at <a href="https://www.goldfields.co.za/index.php" target="new">Goldfields Ghana Limited</a>, Tarkwa Mine. I worked there for a few months after which I joined the Mineral</div></p> -->

</div>